.cards {
    width: 70%;
    margin: 5% 15% 0% 15%;
}

h1 {
    text-align: center;
}

.cards_container {
    display: grid;
    /* flex-flow: column; */
    align-items: center;
    /* max-width: 1120px; */
    /* width: 90%; */
    margin: 0 auto;
}

.cards_wrapper {
    position: relative;
    margin: 50px 0 45px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* justify-content: space-around; */
}

.cards_items {
    margin-bottom: 24px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid var(--light-purple);
    border-radius: 10px;
    display: inherit;
}

.cards_item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.cards_item_link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards_item_pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    height: 100%;
}

.fade-img {
    -webkit-animation-name: fade-img;
            animation-name: fade-img;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.cards_item_pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
    background-color: #EBAA1E;
    box-sizing: border-box;
}

.cards_item_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.2s linear;
}

.cards_item_img:hover {
    transform: scale(1.1);
}

.cards_item_info {
    padding: 20px 30px 30px;
    background-color: var(--light-purple);
    height: 100%;
    /* height: 85px; */
}

.cards_item_text {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.one {
    grid-column: 1;
}
.two {
    grid-column: 2;
}
.three {
    grid-column: 3;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .cards_item {
        margin-bottom: 2rem;
    }

    .one {
        grid-column: 1;
    }
    .two {
        grid-column: 2;
    }
    .three {
        grid-column: 1;
    }

    .cards_wrapper {
        position: relative;
        margin: 50px 0 45px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* justify-content: space-around; */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {


    .cards {
        width: 90%;
        margin: 5% 5% 0% 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .one, .two, .three {
        grid-column: 1;
    }
    .cards_wrapper {
        position: relative;
        margin: 50px 0 45px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* justify-content: space-around; */
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {

}